@model MusicHelp.Models.InstrumentDetail

@{
    ViewBag.Title = "Details";
}

<div class="form-wrapper">
    <h4 class="form-header text-center">@Html.DisplayFor(model => model.InstrumentName)</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstrumentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstrumentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>
    <p class="text-center">
        @Html.ActionLink("Update", "Edit", new { id = Model.InstrumentID }, new { @style = "color: #003300;" }) •
        @Html.ActionLink("Return to Instruments", "Index", new { @style = "color: #003300;" })
    </p>
</div>
