@model IEnumerable<MusicHelp.Models.InstrumentListItem>

@{
    ViewBag.Title = "Instrument Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id = item.InstrumentID }) |
            @Html.ActionLink("Details", "Details", new { id = item.InstrumentID }) |
            @Html.ActionLink("Remove", "Delete", new { id = item.InstrumentID })
        </td>
    </tr>
}

</table>
