@model IEnumerable<MusicHelp.Models.LessonListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Lessons</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instrument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonDifficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LessonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instrument.InstrumentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonDifficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id = item.LessonID }) |
            @Html.ActionLink("Details", "Details", new { id = item.LessonID }) |
            @Html.ActionLink("Remove", "Delete", new { id = item.LessonID })
        </td>
    </tr>
}

</table>
