@model MusicHelp.Models.TablatureDetail

@{
    ViewBag.Title = "Delete Tab";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TablatureDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TabID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstrumentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstrumentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabArtist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabArtist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabAlbum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabAlbum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabDifficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabDifficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Tablature Index")
        </div>
    }
</div>
