@model MusicHelp.Models.TablatureDetail

@{
    ViewBag.Title = "Tab Details";
}

<h2>Details</h2>

<div class="form-wrapper">
    <h4 class="form-header text-center">@Html.DisplayFor(model => model.TabName)</h4>
    <h5 class="text-center">@Html.DisplayFor(model => model.TabArtist) • @Html.DisplayFor(model => model.TabAlbum) </h5>
    <h5 class="text-center">@Html.DisplayFor(model => model.Instrument.InstrumentName)</h5>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TabID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabDifficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabDifficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabSource)
        </dt>

        <dd>
            <a href="@Model.TabLink" target="_blank">@Html.DisplayFor(model => model.TabSource)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>
    <p class="text-center">
        @Html.ActionLink("Update", "Edit", new { id = Model.TabID }, new { @style = "color: #003300;" }) •
        @Html.ActionLink("Return to Tabs", "Index", new { @style = "color: #003300;" })
    </p>
</div>
