@model IEnumerable<MusicHelp.Models.TablatureListItem>

@{
    ViewBag.Title = "Tablature Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TabID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TabName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TabArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TabAlbum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TabDifficulty)
        </th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TabID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TabName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TabArtist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TabAlbum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TabDifficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id = item.TabID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TabID }) |
            @Html.ActionLink("Remove", "Delete", new { id = item.TabID })
        </td>
    </tr>
}

</table>
