@model IEnumerable<MusicHelp.Models.TablatureListItem>

@{
    ViewBag.Title = "Index";
    SelectList Instruments = ViewBag.Instruments;
}

<h2>Tablature</h2>

<p>
    @Html.ActionLink("Add New Tab", "Create")
</p>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#all">All Tabs</a></li>
    @foreach (var instrument in Instruments)
    {
        <li><a data-toggle="tab" href="#@instrument.Value">@instrument.Text</a></li>
    }
    <li><a data-toggle="tab" href="#fav">Favorited</a></li>
</ul>

<div class="board row">
    <div class="tab-content">
        <div id="all" class="tab-pane fade in active">
            @foreach (var item in Model)
            {
                <div class="col-md-3 board-container">
                    <div class="board-card">
                        <div class="card-header text-center">
                            @Html.ActionLink(item.TabName, "Details", new { id = item.TabID }, new { @style = "color:white;" })
                            @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.TabID })
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Artist: @Html.DisplayFor(modelItem => item.TabArtist)</li>
                                <li>For: @Html.DisplayFor(modelItem => item.Instrument.InstrumentName)</li>
                                <li>Difficulty: @Html.DisplayFor(modelItem => item.TabDifficulty)</li>
                            </ul>
                        </div>
                        <div class="card-editor text-center">
                            @Html.ActionLink("Update", "Edit", new { id = item.TabID })
                            @Html.ActionLink("Remove", "Delete", new { id = item.TabID })
                        </div>
                    </div>
                </div>
            }
        </div>

        @foreach (var instrument in Instruments)
        {
            <div id="@instrument.Value" class="tab-pane fade">
                @foreach (var item in Model.Where(i => i.InstrumentID.ToString() == instrument.Value))
                {
                    <div class="col-md-3 board-container">
                        <div class="board-card">
                            <div class="card-header text-center">
                                @Html.ActionLink(item.TabName, "Details", new { id = item.TabID }, new { @style = "color:white;" })
                                @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.TabID })
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Artist: @Html.DisplayFor(modelItem => item.TabArtist)</li>
                                    <li>For: @Html.DisplayFor(modelItem => item.Instrument.InstrumentName)</li>
                                    <li>Difficulty: @Html.DisplayFor(modelItem => item.TabDifficulty)</li>
                                </ul>
                            </div>
                            <div class="card-editor text-center">
                                @Html.ActionLink("Update", "Edit", new { id = item.TabID })
                                @Html.ActionLink("Remove", "Delete", new { id = item.TabID })
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        <div id="fav" class="tab-pane fade in active">
            @foreach (var item in Model)
            {
                if (item.IsStarred)
                {
                    <div class="col-md-3 board-container">
                        <div class="board-card">
                            <div class="card-header text-center">
                                @Html.ActionLink(item.TabName, "Details", new { id = item.TabID }, new { @style = "color:white;" })
                                @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.TabID })
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Artist: @Html.DisplayFor(modelItem => item.TabArtist)</li>
                                    <li>For: @Html.DisplayFor(modelItem => item.Instrument.InstrumentName)</li>
                                    <li>Difficulty: @Html.DisplayFor(modelItem => item.TabDifficulty)</li>
                                </ul>
                            </div>
                            <div class="card-editor text-center">
                                @Html.ActionLink("Update", "Edit", new { id = item.TabID })
                                @Html.ActionLink("Remove", "Delete", new { id = item.TabID })
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("i[data-toggle='star']")
                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var tabId = target.attr("data-id");
                    var starSet = target.hasClass("glyphicon-star");

                    $.ajax({
                        method: starSet ? "DELETE" : "PUT",
                        url: "/api/Tablature/" + tabId + "/star",
                        data: null
                    })
                        .done(function (r) {
                            target.removeClass();
                            target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                        })
                        .fail(function (r) {
                            alert("Failed to change star status");
                        });
                });
        });
    </script>
}